/* Import Dynalight and Faustina fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dynalight&family=Faustina:ital,wght@0,300..800;1,300..800&display=fallback");

/* Colour palette: 
    Bright Lilac color: #D891EF;
    Dark Slate Blue color: #4D356E; 
    White Violet color: #ECDEFF;
    Mauve color: #D8BDFF;
    White color: #FFFFFF;
*/

body {
    font-family: "Faustina", serif;
}

#logo {
    font-family: "Dynalight", serif;
    color: #ecdeff;
    font-size: 200%;

    /* Prevent text selection of logo text */
    user-select: none;
}

/* Navbar links */

.navbar {
    background-color: #4d356e;
}

#menu a {
    color: #ecdeff;
}

#menu a:hover {
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 4px;
}

#menu a.active {
    font-weight: bold;
}

#nav-toggle {
    color: #d8bdff;
}

#nav-toggle:hover {
    border-color: #d891ef !important;
    border-width: 2px;
}

#nav-toggle.navbar-toggler {
    border-color: #d891ef;
}



/* Customise toggler icon color: stroke set to site violet colour #D891EF rgb values (216, 145, 239) */
#nav-toggle.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28216, 145, 239, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Main content */

main {
    color: #4d356e;
    margin-bottom: 1em;
}

main a {
    color: #d891ef;
    text-decoration: none;
}

main a:hover {
    color: #d8bdff;
    text-decoration-line: underline;
}


/* Contact Form */

form > h3 {
    text-align: center;
}

.form-select:focus,
input:focus,
textarea:focus,
button:focus-visible {
    outline: none;
    border-color: #d891ef !important;
    /* Shadow for better visibility */
    box-shadow: 0 0 0 0.25rem rgba(216, 145, 239, 0.25) !important;
}

/* Highlight fields on hover */
.form-select:hover,
input:hover,
textarea:hover {
    border-color: #d891ef;
    border-width: 2px;
}

/* Make Select field placeholder italic for emphasis  */
.form-select {
    font-style: italic;
}

/* Remove italic when valid option is selected  */
.form-select:valid {
    font-style: normal;
}

input[type="checkbox"]:checked {
    background-color: #d891ef;
    border-color: #d891ef;
}

.form-check-label {
    margin-left: 2px;
}

.btn-primary {
    display: block;
    border-width: 2px;
    padding-left: 3em;
    padding-right: 3em;
    margin: 0 auto;
    --bs-btn-color: #d891ef;
    --bs-btn-border-color: #4d356e;
    --bs-btn-bg: #4d356e;

    --bs-btn-hover-color: #4d356e;
    --bs-btn-hover-border-color: #d891ef;
    --bs-btn-hover-bg: #d891ef;

    --bs-btn-focus-shadow-rgb: 49, 132, 253;

    --bs-btn-active-color: #4d356e;
    --bs-btn-active-bg: #d8bdff;
    --bs-btn-active-border-color: #d8bdff;

    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ecdeff;
    --bs-btn-disabled-bg: #4d356e;
    --bs-btn-disabled-border-color: #4d356e;
}

/* Hero */

/* 16:9 aspect ratio (9 / 16 * 100) */
.carousel-image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
}

.carousel-image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#heroRows>div {
    padding: 0;
}

.hero-image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 aspect ratio (9 / 16 * 100) */
    overflow: hidden;
}

.hero-image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-caption,
.carousel-caption>h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    color: #fff;
    text-align: center;
    padding: 10px;
    font-style: italic;
}

#intro {
    margin-top: 1em;
    margin-bottom: 2em;
}

#intro>h2 {
    margin-bottom: 2rem;
}

hr {
    border-top: 1px solid #4d356e;
}

#music,
#theatre,
#cinema,
#other {
    margin-bottom: 1em;
}

.event-heading {
    font-style: italic;
}

/* Gallery page */

/* 4:3 aspect ratio (3 / 4 * 100) */
.landscape-image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 75%;
    overflow: hidden;
}

.landscape-image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Footer */
footer {
    background-color: #4d356e;
    color: #ecdeff;
    margin-bottom: 1em;
}

#social-networks i {
    font-size: 160%;
    color: #d891ef;
}

#social-networks i:hover {
    color: #ecdeff;
}

#address {
    background-color: #ffffff;
    color: #4d356e;
}

#address a {
    color: #4d356e;
    text-decoration: none;
}

#address a:hover {
    color: #d891ef;
    text-decoration: underline;
}

/* Styles for screens of medium size and larger */
@media screen and (min-width: 768px) {

    /* Add left border to visually separate sections */
    #theatre,
    #other {
        border-left: 1px solid #ecdeff;
    }
}