/* Import the Dynalight font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=fallback');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Defining the colors the site will use */
/* 
    Bright Lilac  #D891EF;
    Dark Slate Blue #4D356E; 
    White Violet #ECDEFF;
    Mauve #D8BDFF;
    White #FFFFFF;
*/

.color-bright-lilac {
    color: #D891EF;
}

.color-darkSlateBlue {
    color: #4D356E;
}

.color-whiteViolet {
    color: #ECDEFF;
}

.color-mauve {
    color: #D8BDFF;
}

.color-white {
    color: #FFFFFF;
}


.bgcolor-bright-lilac {
    background-color: #D891EF;
}

.bgcolor-darkSlateBlue {
    background-color: #4D356E;
}

.bgcolor-whiteViolet {
    background-color: #ECDEFF;
}

.bgcolor-mauve {
    background-color: #D8BDFF;
}

.bgcolor-white {
    background-color: #FFFFFF;
}


.bg-color-primary {
    background-color: #4D356E;
}

/* Navbar links */
#navbarSupportedContent>ul>li>a {
    color: #ECDEFF;
}

#navbarSupportedContent>ul>li>a:hover {
    color: #FFFFFF;
}

#navbarSupportedContent>ul>li>a.active {
    font-weight: bold;
}


#nav-toggle {
    color: #D8BDFF;
}

#nav-toggle:hover {
    border-color: #FFFFFF;
}

#nav-toggle.navbar-toggler {
    border-color: #D891EF;
}

/* Customise colour of the toggler icon: set stroke to site violet colour #D891EF using rgb values (216, 145, 239) */
#nav-toggle.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28216, 145, 239, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#logo {
    font-family: "Dynalight", serif;
    color: #ECDEFF;

    /* Prevent text selection of logo text */
    user-select: none;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Footer */
#social-networks i {
    font-size: 160%;
    padding: 5%;
}